header {

    width: 100%;
    background-color: #ffffff;
    border-bottom: 4px solid #cccccc;
    margin-bottom: 40px; 

}

#myName {

    height: 77px;
    line-height: 77px;
    background-color: #4aaaa5;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;

}

nav {

    height: 76px;
    float: right;
    background-color: #ffffff;

}

.navButton {

    display: inline-block;
    height: 100%;
    line-height: 80px;
    font-size: 1.1em;
    text-align: center;

}

.navButton a {
    
    color: #999999;
    text-decoration: none;
    
    }

#bodyContent {

    width: 960px;
    margin: 0 auto; 

}

#bodyContent::after {

    content: "";
    display: block;
    clear: both;

}

#mainContent {

    width: 100%;
    padding: 40px 30px 40px 30px;
    background-color: #ffffff;
    box-shadow: 4px 4px 15px 2px #333333;
    color: #777777;

}

#mainContent p {

    margin: 16px 0px 16px 0px;
    text-indent: 30px;

}

#profilePic {

    width: 240px;
    height: 240px;
    float: left;
    margin: 0px 20px 10px 0px;

}

form {

    width: 100%;

}



textarea {

    resize: none;

    /* Thanks to Finndogs at reddit for the following width coding to aid responsiveness*/

    width: calc(100% - 20px);
    font-size: 1em;
    padding: 5px 5px 5px 15px;

}

input {

    width: calc(100% - 20px);
    padding: 5px 5px 5px 15px;
    font-size: .8em;

}

#submitButton {

    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
    width: auto;
    padding: 8px 16px 8px 16px;
    cursor: pointer;

}

.thumbnail {

    position: relative;
    margin-bottom: 40px;
    cursor: pointer;
    transition: all .8s ease;

}

.thumbnail:hover {

    transform: scale(1.2);

}

.left {

    float: left;

}



.right {

    float: right;

}

.label {

    position: absolute;
    bottom: 20px;
    left: 15px;
    height: 60px;
    line-height: 60px;
    width: calc(100% - 140px);
    padding: 15px;
    border-bottom: 0;
    text-align: center;
    color: #ffffff;
    font-size: 1.2em;
    background-color: #4aaaa5;

}



footer {

    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    line-height: 80px;
    color: #CCCCCC;
    text-align: center;

}

#copyright {

    margin: 0px;
}